
<div class="first-strip">
    <div class="half-strip">
        <div class="info-card-box clients">
            <i class="fas fa-child"></i>
            <p>  
                <span>clients</span><br>
                123
            </p>
        </div>
        <div class="info-card-box sales">
            <i class="fas fa-dollar-sign"></i>
            <p>
                <span>sales</span><br>
                321
            </p>    
        </div>
    </div>
    <div class="half-strip">
        <div class="info-card-box payments">
            <i class="fas fa-money-bill-alt"></i>
            <p>
                <span>payments</span><br>
                1521
            </p>
        </div>
        <div class="info-card-box orders">
            <i class="fas fa-list-ol"></i>
            <p>
                <span>orders</span><br>
                12332
            </p> 
        </div>
    </div>
</div>
