.first-strip
    padding-top: 32px
    display: flex
    margin-left: 16px
    margin-right: 16px
    transition: all 0.3s ease-in-out

    .half-strip
        max-width: 800px
        min-width: 450px
        display: flex
        width: -webkit-fill-available

        .info-card-box
            display: flex
            height: 70px
            margin-right: 32px
            width: -webkit-fill-available
            min-width: 150px
            transition: all 0.3s ease-in-out
            opacity: 0.8
            
            p
                display: block
                margin: auto

                span
                    font-size: 24px

            i
                margin-top: auto
                margin-bottom: auto
                font-size: 36px
                display: block
                margin-left: 32px

            &.clients
                background-color: #926dde
                color: white

            &.sales
                background-color: #ef5350
                color: white

            &.payments
                color: #eee
                background-color: #272c33

            &.orders
                color: #eee
                margin-right: 0px
                background-color: #4ac959
            
            &:hover
                opacity: 1
                



@media (max-width:1100px)
    .first-strip
        flex-wrap: wrap

        .half-strip
            margin-left: auto
            margin-right: auto
            
            &:last-child
                margin-top: 16px

            .info-card-box
                &.sales
                    margin-right: 0px

@media (max-width:500px)
    .first-strip
        .half-strip
            flex-wrap: wrap
            min-width: 250px

            .info-card-box
                max-width: 300px
                margin-left: auto !important
                margin-right: auto !important
                margin-top: 16px
                min-width: 250px
                width: 100%

                &:first-child
                    margin-top: 0px