
.dashboard-container
    min-height: 100vh
    height: 100%
    width: 100%
    background-color: #383F48

    &-content
        margin-left: auto
        margin-right: auto
        max-width: 1600px
        width: 95% 
        background-color: yellow
        height: 25px

